* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: none;
}
.section1 {
  background-image: linear-gradient(
    60deg,
    rgb(44, 4, 4),
    rgb(48, 41, 43),
    rgb(24, 4, 4),
    rgba(41, 7, 7, 0.856)
  );
  height: 30vh;
  width: 100%;
}
.navfloat {
  padding: 20px;
  margin-left: 700px;
}

.firstnavbar {
  text-decoration: none;
  color: white;
  margin: 0px 20px 0px;
}
.firstnavbar:hover {
  color: orange;
  transition: 0.2s;
}
.work {
  background-color: orange;
  padding: 10px 20px 10px 10px;
  border-top-right-radius: 5px;
}

.separatingline {
  background-image: linear-gradient(yellow, orange, rgb(212, 103, 40));
  height: 2px;
  width: 100%;
  opacity: 40%;
}

.modernhouse {
  margin: 5px 0px 0px 80px;
  color: white;
}
.span {
  color: rgb(204, 198, 198);
}
.money {
  display: flex;
  flex-direction: row;
  margin-left: 1000px;
}

.cash {
  color: white;
}

.span2 {
  color: rgb(204, 198, 198);
}

.section2 {
  background-color: rgb(209, 216, 223);
  height: 100rem;
  width: 100%;
}

/* .image1 {
  margin-top: 20px; */

.image-1 {
  width: 450px;
  height: 400px;
  margin-top: 80px;
  margin-left: 70px;
  margin-right: 50px;
}

.smaller {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: 70px;
}

.s-size {
  height: 80px;
  width: 70px;
  padding-right: 25px;
}

/* Details section */
.details-section {
  width: 30rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: 4rem;
}

.inner-detail-wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 2rem 1.5rem;
}

.icons-tray {
  border-top: 1px solid black;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

ul.icons li {
  list-style: none;
  border-right: 1px solid black;

  padding: 1rem;
}

ul.icons li:last-child {
  border-right: none;
}

/* Description section */
.description-background {
  background-color: white;
  width: 30rem;
  margin-top: 4rem;
  margin-left: 4rem;
  border-radius: 0.5rem;
}

.description-title {
  padding: 0.9rem;
}
.description-writing {
  padding: 0.9rem;
  border-top: solid black 1px;
}

/* Features section */
.features-background {
  background-color: #fff;
  width: 30rem;
  margin-top: 4rem;
  margin-left: 4rem;
  border-radius: 0.5rem;
}
.features-title {
  padding: 0.9rem;
}
.air-conditioning-lists {
  display: flex;
  flex-direction: row;
  padding: 0.9rem;
  margin: 0.9rem;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.fa-solid.fa-circle-check {
  color: orange;
}
.list1 {
  margin-bottom: 0.9rem;
}
